html
head
    link(rel='stylesheet', href='/css/microphone.css')
  body(style='text-align: center;')
    #microphone
    pre#result.
      
    #info
    script(src='/js/lib/jquery-2.1.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/microphone.js')
    script(src='/js/microphone_controls.js')
